node_modules
npm-debug.log
.git
.env
.env.*
!.env.example
test
data
*.md
!README.md
config.yml
.github
eslint.config.js
reports
bin
.DS_Store
._*
Thumbs.db
.idea
.vscode
.npm
secrets
docker-compose.yml
docker-compose.local.yml
LICENSE.md
